# Environment variables for the monorepo

# For mollyferguson.info
MOLLY_ASTRO_HYGRAPH_ENDPOINT=https://us-east-1-shared-usea1-02.cdn.hygraph.com/content/cm048oo3l01gz07wf7rrq84lg/master

# For micah-ferguson
MICAH_ASTRO_HYGRAPH_ENDPOINT=https://us-west-2.cdn.hygraph.com/content/cm4ah46tx01ol07lnfafy43gg/master

# For publishing astro-utils to GitHub Packages
NPM_GH_TOKEN=your_NPM_GH_TOKEN_here 